https://app.quotemedia.com/quotetools/getHistoryDownload.csv?&webmasterId=501&startDay=STARTDAY&startMonth=STARTMONTH&startYear=STARTYEAR&endDay=ENDDAY&endMonth=ENDMONTH&endYear=ENDYEAR&isRanged=false&symbol=XXXXX%3AYYYYY

